  html, body {
    background-color: #EEEEE6;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

body { padding-top: 100px; }

.navbar-custom { height: 90px;}

h1 {
font-family: 'PT Serif', serif;
font-weight: 400;
font-size: 30px;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
}

.author
{
  font-style: italic;
  color: #FF3B30;
}

.small
{
  border-top-color: black;
  max-width: 300px;
}
